@model ASPAssignment2.Models.Article

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PeerReviewed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PeerReviewed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.AuthorId)
        </dd>
    </dl>
    <h4>Article</h4>
    @Html.DisplayFor(model => model.Content)

</div>
<div>
    @if(User.Identity.IsAuthenticated && User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value == Model.Author.AccountID)
    {
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    } else
    {
        @:Log into @Model.Author.AuthorName's account to edit
    } 
    |<a asp-action="Index">Back to List</a>
</div>
