@model IEnumerable<ASPAssignment2.Models.Article>

@{
    ViewData["Title"] = "Index";
}

<h1>Articles</h1>

@if (User.Identity.IsAuthenticated)
{
    @:<p>
        <a asp-action="Create">Create New</a>
    @:</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeerReviewed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @item.PeerReviewed
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.AuthorName)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    @if (User.Identity.IsAuthenticated && User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value == item.Author.AccountID)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> @:|
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    else if(User.Identity.IsAuthenticated)
                    {
                        @:Can't edit/delete others' articles
                    } else
                    {
                        @:Log in to edit/delete
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
